[Unit]
Description=Roboface auto-update timer (every 5 min)
Requires=roboface-update.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
RandomizedDelaySec=30s
Persistent=true

[Install]
WantedBy=timers.target
